<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <style>
        .h4 ,h4{
        text-align: center;
        font-size: 4.5em;
        text-shadow: 2px 2px red;
        }
    </style>

    <title>Hello, world!</title>
</head>
<body>
<div class="jumbotron text-center">
    <h4>eDoctor</h4>
</div>

<!--tablayout-->

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-appointments" role="tab"
           aria-controls="nav-home" aria-selected="true">Appointments</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-prescription" role="tab"
           aria-controls="nav-profile" aria-selected="false">Prescriptions</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-medicalhistory" role="tab"
           aria-controls="nav-contact" aria-selected="false">Medical History</a>
    </div>
</nav>

<!--grid-->

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-appointments" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <br>
                    <h5>Approved</h5>
                    <br>
                    <div id="list">
                        <ul>
                            {{#each users}}
                                <li>{{this}} has been greeted</li>
                            {{/each}}
                        </ul>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-sm">
                    <br>
                    <h5>Not approved</h5>
                    <div id="list">
                        <ul>
                            {{#each users}}
                                <li>{{this}} has been greeted</li>
                            {{/each}}
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-prescription" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="container">
            <br>
            <form action="/hello" method="post">
                <input type="text" name="name" placeholder="Enter a patient's name">
                <br>
                <br>
                <input type="text" name="name" placeholder="Enter a patient's medication">
                <br>
                <br>
                <input type="text" name="name" placeholder="Enter a name">
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-medicalhistory" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="soon">
            <h3>Coming Soon</h3>
        </div>
    </div>
</div>
</body>
</html>