<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        .h4 ,h4{
        text-align: center;
        font-size: 4.5em;
        text-shadow: 2px 2px purple;
        }
    </style>

    <title>eHealth Care System</title>
</head>
<body>
<div class="jumbotron text-center">
    <h4>eHealth-Care</h4>
</div>

<div class="container">
    <form action="/eLogin" method="post" >
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="exampleRadios1" value="eDoctor">
                        <label class="form-check-label" for="exampleRadios1">
                            eDoctor
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="exampleRadios2" value="ePatient">
                        <label class="form-check-label" for="exampleRadios2">
                            ePatient
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="exampleRadios3" value="ePharmacy">
                        <label class="form-check-label" for="exampleRadios3">
                            ePharmacy
                        </label>
                    </div>
                    <br>
                    <div class="form-group">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </form>


</div>
</body>
</html>